<div *ngIf="key==4">
    <div class="row">
        <div class="col" *ngFor="let item of items">
            {{item}}<!--<div *ngFor="let i of item">
                {{i}}
            </div>-->
        </div>
        
        
        
    </div>
    <div class="row">
        <div clas="col">
            {{mime}}
        </div>
    </div>
    <div class="row">
        <div class="col" *ngFor="let item of format">
            {{item}}
        </div>
    </div>

    <div class="row">
        <div class="col" *ngFor="let item of ur">
            <img src={{item}}>
        </div>
    </div>
    <div>subcategories</div>
    <div class="col" *ngFor="let item of s1">
        {{item}}
    </div>
    <div class="row">
    <div class="col">
        <button class="button" (click)= "myFunction1()">Compact</button>
        <button class="button" (click)= "myFunction2()">Tower</button>
    </div>
    </div>
    </div>
    

    <div *ngIf="key==5">
        <app-summary></app-summary>
    </div>